.images{
    height: 10vh;
    width: 99vw;
    margin: 20px auto;
}

.images img{
    width: 100%;
    height: 100%;
}

.register-layout{
    margin-top: 150px;
}

.link{
    text-align: center;
}
.link a{
    color: rgb(150, 150, 249);
    cursor: pointer;
}