input[type="email"],
input[type="password"]{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.login-form{
    padding: 12px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color:#60B5FF;
    color: white;
    font-size: 14px;
    font-weight: bold;
}